.container {
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "section";
  row-gap: 3rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

header {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tweetRow {
  padding: 0.25rem;
  border: 1px solid black;
  text-align: left;
  margin: 0.5rem 0;
}
